/Release
/Debug
/x64
*~
*.suo
*.*sdf
*scc
asmpp.VC.db
asmpp.vcxproj.user
asmpp.vcproj.asus-note.kdw.user
asmpp.vcproj.kdw-asus.kdw.user
*.dll
*.jpg
*.tiff
*.tif
*.png
*.avi
*.pptx
*.ppt
*.xlsx
single_obj_test.txt
hw1_old.cpp

